//features_area css 

.features_item{
    padding: 73px 45px 80px 60px;
    color: #fff;
    background: $light_blue;
    & + .features_item{
        border-left: 1px solid #fff;
    }
    &:nth-child(even){
        background: #04091e;
    }
    h3{
        margin-bottom: 20px;
    }
    p{
        padding-bottom: 25px;
    }
}