/*============== footer-area css ===============*/
.footer-area{
    background: #04091e;
    padding: 100px;
    width: 100%;
    margin: 0 0;
}

.footer-bottom{
    padding-top: 46px;
    .footer-text{
        a{
            color: $light_blue;

        }
    }
    .footer-social{
        text-align: right;
        a{
            font-size: 18px;
            line-height: 30px;
            color: #82848f;
            transition: all 0.3s linear;
            &:hover{
                color: $light_blue;
            }
        }
    }
}